# Kill all node processes
alias murder-node-js='pkill node'

# Edit this aliases file
alias edit-aliases='nvim-lazy ~/.aliases'

# Open a file selected with fzf in nvim
alias fzff='nvim-lazy $(fzf --preview="cat {}")'

# Open the TODO.md file in Obsidian Vault
alias todo='nvim-lazy ~/Documents/Obsidian\ Vault/Personal/TODO.md'
